<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Record</title>

</head>
<h2>Insert New Entry</h2>
<body align="center" >

    <form action="/form_insert" method="post" >
<!--        <label>Emp_id:</label>-->
<!--        <input type="number" name="Emp_id" placeholder="Emp_id" required="" size="12"><br><br>-->
        <label>Name:   </label>
        <input type="text" name="Name" placeholder="Name" required="" size="12"><br><br>
        <label>Address:   </label>
        <input type="text" name="Address" placeholder="Address" required="" size="12"><br><br>
        <button>Submit</button>
<!--        <input type="button" value="OK">-->
        <input type=reset value="Reset">

    </form>
</body>
</html>